@media (max-width: 480px) {
  .hideOnSmartphones {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .onlyOnSmartphones {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .hideOnTablets {
    display: none !important;
  }
}

@media (min-width: 640px) {
  .onlyOnTablets {
    display: none !important;
  }
}